
<html lang="en" class="no-js">

    <head>
        <!-- from: https://codyhouse.co/gem/products-comparison-table/ -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet'
            type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="css/styles.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
        <link rel="stylesheet" href="css/comparisonStyle.css"> <!-- Resource style -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> <!-- jQuery package -->
        <script src="js/comparisonModernizr.js"></script> <!-- Modernizr -->

        <title>Beer Comparison</title>
    </head>

    <body>
        <nav class="navbar navbar-dark navbar-expand-md bg-dark" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">All Beer Vibes</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" type="button"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0 text-uppercase">
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                href="/suggest">SUGGEST</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/beer/map">PUB
                                MAP</a></li>
                        
                        <li class="nav-item" role="presentation">
                            <a class="nav-link js-scroll-trigger" href="/compare/my-comparison">COMPARE
                                <%if(products) {%>
                                <span class="badge"><%= totalQty %></span>
                                <%}%>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                href="/profile">PROFILE</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/logout">LOGOUT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <% if (products) { %>
        <section class="cd-products-comparison-table">
            <header>
                <h2>Total of <%= totalQty %> beer(s) in your comparison list!</h2>
                <div class="actions">
                    <a href="#0" class="reset">Undo Select</a>
                    <a href="#0" class="filter">Select</a>
                </div>
            </header>

            <div class="cd-products-table">
                <div class="features">
                    <div class="top-info">Beers</div>
                    <ul class="cd-features-list">
                        <li>Company</li>
                        <li>Country</li>
                        <li>Alcohol by Volume</li>
                        <li>Style</li>
                        <li>Customer Rating</li>
                    </ul>
                </div> <!-- .features -->

                <div class="cd-products-wrapper">
                    <ul class="cd-products-columns">
                        <% for (var i=0; i < totalQty; i++) { %>
                        <li class="product">
                            <div class="top-info">
                                <div class="check"></div>

                                <% if (products[i].item.beer_label_hd !== "") { %>
                                    <img src="<%= products[i].item.beer_label_hd %>" 
                                <% } else { %> 
                                    <img src="<%= products[i].item.beer_label %>" 
                                <% } %>

                                <h2><%= products[i].item.beer_name %></h2>
                            </div> <!-- .top-info -->

                            <ul class="cd-features-list">
                                <li><%= products[i].item.brewery.brewery_name %></li>
                                <li><%= products[i].item.brewery.country_name %></li>
                                <li><%= products[i].item.beer_abv %></li>
                                <li><%= products[i].item.beer_style %></li>
                                <li><%= products[i].item.rating_score %><br><%= products[i].item.rating_count %></li>
                                <li>
                                    <div class="btn-group">
                                        <a href="/compare/delete-from-compare/<%= products[i].item.bid %>" role="button"> Delete </a>
                                    </div>
                                </li>
                            </ul>
                        </li> <!-- .product -->
                        <% } %>
                    </ul> <!-- .cd-products-columns -->
                </div> <!-- .cd-products-wrapper -->

                <ul class="cd-table-navigation">
                    <li><a href="#0" class="prev inactive">&#9668;</a></li>
                    <li><a href="#0" class="next">&#9658;</a></li>
                </ul>
            </div> <!-- .cd-products-table -->
        </section> <!-- .cd-products-comparison-table -->        
        <a href="/compare/clear-compare-list" role="button"> Reset Comparison List </a>

        <% } else { %>
            <h2>No beer in your comparison list!</h2>
        <% } %>

        <footer class="footer" style="max-height: 200px; padding-top:5px;">
        
            <div class="row justify-content-center align-items-center" style="padding: 20px; text-align: center;">
        
                <div class="col-md-2 footer-navigation">
                    <h3><a href="#" class="name-brand"><strong>All Beer Vibes</strong></a></h3>
                    <div class="social-links social-icons" style="padding-right: 10px; font-size: 25px;">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                </div>
        
                <div class="col-md-2 footer-contacts" style="color:white;">
                    <div class="row justify-content-center">
                        <div style="margin-right: 10px;">
                            <i class="fa fa-envelope footer-contacts-icon"></i></div>
                        <p> <a href="#" target="_blank">allbeervibes@google.com</a></p>
                    </div>
                </div>
        
                <div class="clearfix"></div>
                <div class="col-md-2 footer-about" style="color:white" ;>
                    <p class="company-name">All Beer Vibes © 2020</p>
        
                </div>
            </div>
        
        </footer>
        <script src="js/comparisonStyle.js"></script> <!-- Resource jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
        <script src="js/script.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    
    </body>

</html>
