<!DOCTYPE html>
<html>

    <head>
        <!-- from: https://codyhouse.co/gem/products-comparison-table/ -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>ABV Beer Comparison</title>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet'
            type='text/css'>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="/css/styles.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
        <link rel="stylesheet" href="css/comparisonStyle.css"> <!-- Resource style -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> <!-- jQuery package -->
        <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    </head>

    <body>
        <nav class="navbar navbar-dark navbar-expand-md bg-dark" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">All Beer Vibes</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" type="button"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="nav navbar-nav ml-auto mt-2 mt-lg-0 text-uppercase">
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                href="/suggest">SUGGEST</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                href="/beer/map">PUB MAP</a></li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link js-scroll-trigger" href="/compare/my-comparison">COMPARE
                                <% if (products) { %>
                                <span class="badge"><%= totalQty %></span>
                                <% } %>
                            </a>
                        </li>
                        <% if(!currentUser) {%>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="/login" class="dropdown-item">Login</a>
                                <a href="/register" class="dropdown-item">Register</a>
                            </div>
                        </li>
                        <% } else { %>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><%= currentUser.name %> </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="/profile" class="dropdown-item">Profile</a>
                                <a href="/logout" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="compareMargin"></div>

        <div id="testFont">
            <% if (products) { %>
            <section class="cd-products-comparison-table">
                <header>
                    <h2>Total of <%= totalQty %> beer(s) in your comparison list!</h2>
                    <div class="actions">
                        <a href="#0" class="reset">Undo Select</a>
                        <a href="#0" class="filter">Select</a>
                    </div>
                </header>

                <div class="cd-products-table">
                    <div class="features">
                        <div class="top-info"><ul>Beers</ul></div>
                        <ul class="cd-features-list">
                            <li>Company</li>
                            <li>Country</li>
                            <li>ABV (%)</li>
                            <li>Style</li>
                            <li>Rating</li>
                        </ul>
                    </div> <!-- .features -->

                    <div class="cd-products-wrapper">
                        <ul class="cd-products-columns">
                            <% for (var i=0; i < totalQty; i++) { %>
                            <li class="product">
                                <div class="top-info">
                                    <div class="check"></div>

                                    <% if (products[i].item.beer_label_hd !== "") { %>
                                    <img src="<%= products[i].item.beer_label_hd %>">
                                    <% } else { %>
                                    <img src="<%= products[i].item.beer_label %>">
                                    <% } %>

                                    <p><%= products[i].item.beer_name %></p>
                                </div> <!-- .top-info -->

                                <ul class="cd-features-list">
                                    <li><%= products[i].item.brewery.brewery_name %></li>
                                    <li><%= products[i].item.brewery.country_name %></li>
                                    <li><%= products[i].item.beer_abv %></li>
                                    <li><%= products[i].item.beer_style %></li>
                                    <% let fixedRateScore = Number(products[i].item.rating_score).toFixed(1) %>
                                    <li><%= fixedRateScore%> / 5</li>
                                    <li>
                                        <div class="btn-group">
                                            <a href="/compare/delete-from-compare/<%= products[i].item.bid %>"
                                                role="button"> Delete </a>
                                        </div>
                                    </li>
                                </ul> <!-- .cd-features-list -->
                            </li> <!-- .product -->
                            <% } %>
                        </ul> <!-- .cd-products-columns -->
                    </div> <!-- .cd-products-wrapper -->

                    <ul class="cd-table-navigation">
                        <li><a href="#0" class="prev inactive">&#9668;</a></li>
                        <li><a href="#0" class="next">&#9658;</a></li>
                    </ul>
                </div> <!-- .cd-products-table -->
            </section> <!-- .cd-products-comparison-table -->
            <section class="cd-products-comparison-clear-button">
                <h4>
                    <a href="/compare/clear-compare-list" role="button"><strong>Clear Comparison List</strong></a>
                </h4>
                <% } else { %>
                <h5>No beer in your comparison list!</h5>
                <% } %>
            </section>
        </div>

        <footer>
            <div class="row justify-content-center align-items-center" style="margin:0; padding: 20px; text-align: center;">
                <div class="col-md-2 footer-navigation">
                    <h3><a href="/" class="name-brand"><strong>All Beer Vibes</strong></a></h3>
                    <div class="social-links social-icons" style="padding-top: 8px; padding-right: 10px; font-size: 25px;">
                        <a href="https://github.com/AllBeerVibes/AllBeerVibes"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            
                <div class="col-md-2 footer-contacts" style="color:#efefef;">
                    <div class="row justify-content-center">
                        <div style="margin-right: 10px;">
                            <i class="fa fa-envelope footer-contacts-icon"></i></div>
                        <a id="email" href="mailto: allbeervibes@gmail.com">allbeervibes@gmail.com</a>
                    </div>
                </div>
            
                <div class="clearfix"></div>
                <div class="col-md-2 footer-about" style="color:#efefef" ;>
                    All Beer Vibes © 2020
                </div>
            </div>
        </footer>

        <script src="js/comparisonStyle.js"></script> <!-- Resource jQuery -->
        <script src="/js/script.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    </body>

</html>