<%- include('partials/header') %>
<div class="beer-title">
                    <div class="container-fluid" id="back">
                    <h1><%= name %></h1>
                    </div>
                </div>

                <div class="container-fluid" id="description">
                <div class="row justify-content-center" id="beer-info">
                    <div class="col-md-2 col-sm-12" id="beer-image">
                        <% if (imageHd !== ""){%> 
                            <img src="<%= imageHd %>"
                        <% }else { %> 
                            <img src="<%= image %>"
                        <% } %>>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <ul id="item-info">
                            <li>
                                TYPE <%= style %>
                            </li>
                            <li>
                                ABV <%= abv %>
                            </li>
                            <li>
                                IBU <%= ibu %>
                            </li>
                            <li>
                                <%- stars %> <a href="#"> <%= count %> reviews</a>
                            </li>
                            <!--need to check-->
                            <% if (breweryName !== ""){%>
                            <li>MADE BY <p><%= breweryName %></p></li>
                            <% } %>
                            <li>
                                <button class="btn btn-light" type="button"><strong>Favourites</strong></button>
                                <a href="/beer/add-to-compare/${beer.beer.bid}" role="button" class="btn btn-light"> Compare </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>

                <div class="beer-title">
                    <div class="container-fluid" id="back">
                        <h3>description</h3>
                        <p><%= description %> </p>
                    </div>
                </div>
                
                <div class="container-fluid" id="searchResult">
                    <div class="container">
                        <h3 id="item-page">Same Type</h3>
                        <div class="row product-list dev" id="topRatedBeers">
                            <%- getTopRated %>
                        </div>
                    </div>
                </div>
<%- include('partials/footer') %>