<%- include('partials/header') %>

                <div class="error_M">
                    <%- include("partials/messages") %>
                </div>

                <div class="beer-title">
                    <div class="container-fluid" id="back">
                    <h1><%= beer_info.name %></h1>
                    </div>
                </div>

                <div class="container-fluid" id="description">
                    <div class="row justify-content-center" id="beer-info">
                        
                        <div class="col-md-2 col-sm-12" id="beer-image">
                            <% if (beer_info.imageHd !== ""){%> 
                                <img src="<%= beer_info.imageHd %>"
                            <% }else { %> 
                                <img src="<%= beer_info.image %>"
                            <% } %>>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <ul id="item-info">
                                <li>
                                    TYPE <%= beer_info.style %>
                                </li>
                                <li>
                                    ABV <%= beer_info.abv %>
                                </li>
                                <li>
                                    IBU <%= beer_info.ibu %>
                                </li>
                                <li>
                                    <%- beer_info.stars %> <a href="#"> <%= beer_info.count %> reviews</a>
                                </li>
                                <!--need to check-->
                                <% if (beer_info.breweryName !== ""){%>
                                <li>MADE BY <p><%= beer_info.breweryName %></p></li>
                                <% } %>
                                <li>
                                    <form action="" method="post">
                                        <button type="submit" name="favorite" 
                                            value="<%= beer_info.bid %>~<%= beer_info.style %>~<%= beer_info.name %>~<%= beer_info.image %>">
                                        Favorite</button>
                                    <a href="/compare/add-to-compare/<%= beer_info.bid %>" role="button" class="btn btn-light"> Compare </a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>

                <div class="beer-title">
                    <div class="container-fluid" id="back">
                        <h3>description</h3>
                        <p><%= beer_info.description %> </p>
                    </div>
                </div>
                
                <div class="container-fluid" id="searchResult">
                    <div class="container">
                        <h3 id="item-page">Same Type</h3>
                        <div class="row product-list dev" id="topRatedBeers">
                            <%- getTopRated %>
                        </div>
                    </div>
                </div>
<%- include('partials/footer') %>