<%- include('partials/header') %>
    <div id="profile">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div id="vertical-menu nav nav-tabs card-header-tabs" role="tablist">
                        <div class="list-group nav nav-tabs card-header-tabs">
                            <a class="settings list-group-item" id="item-1-1-tab" data-toggle="tab" role="tab" aria-controls="item-1-1" aria-selected="true" href="#item-1-1"> 
                                <i class="fa fa-info-circle fa-fw"></i> Information</a>
                            <a class="settings list-group-item active" id="item-1-2-tab" data-toggle="tab" role="tab" aria-controls="item-1-2" aria-selected="false" href="#item-1-2"> 
                                <i class="fa fa-heart fa-fw"></i> Favorites</a>
                           
                                <% if(!currentUser.googleId && !currentUser.githubId) {%>
                            <a class="settings list-group-item" id="item-1-4-tab" data-toggle="tab" role="tab" aria-controls="item-1-4" aria-selected="false" href="#item-1-4"> 
                                <i class="fa fa-cog fa-fw"></i> Security</a>
                            <% } %> 
                        
                        </div>
                    </div>
                </div>

                <div class="col-md-8 tab-content"> 
                    <div id="item-1-1" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-1-tab">
                        <div class="setting-body">
                            <%- include("partials/messages") %>
                            <h3>Edit Profile</h3>
                            <hr>
                                <div class="container">
                                    <div class="text-center">
                                        <img src=<%= currentUser.avatar %> class="rounded" alt="Stock Profile Picture">
                                    </div>
                                    <form action="/profile" method="POST">
                                    <div class="form-row">
                                        <div class="col-md-8 mx-auto">
                                            <input type="text" class="form-control" placeholder="Name" name="name" value="<%= currentUser.name %>" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-8 mx-auto">
                                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name = "email" value=<%= currentUser.email %> required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-8 mx-auto">
                                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="location" 
                                            <% if(profile != null){ %>
                                            value="<%= profile.location %>"
                                            <% }else{ %> 
                                                value=""
                                            <% } %> 
                                            >
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-profile">Update</button>
                                    
                                    <p><em>Date joined: <%= currentUser.date %></em></p>
                                
                                    </form>
                                </div>
                        </div>
                    </div>
                    <div id="item-1-2" class="tab-pane fade show active" role="tabpanel" aria-labelledby="item-1-2-tab"> 
                        <div class="setting-body">
                            <h3>Favorites</h3>
                            <hr>
                            <div class="container">
                                <div class="row product-list dev">
                                    <% if(beers.length === 0) {%>
                                        <h1 class="col-lg-12">No Favorites</h1>
                                    <% }else{ %>  
                                        <% beers.forEach(beer=>{ %>
                                        <div class="col-sm-12 col-md-6 col-lg-4 product-item">
                                            <div class="product-container">
                                                <a class="product-image" href=<%= `/beer/${beer.bid}` %>>
                                                    <img src="/img/beer.png"></a>
                                                <img class="act-image" src=<%= beer.beer_label %>>
                                                    <br><br>
                                                <div class="col-12 beer-name-profile">
                                                    <a href=<%= `/beer/${beer.bid}` %>>
                                                        <%= beer.beer_name %>
                                                    </a>
                                                </div>
                                                
                                                
                                                <div class="justify-content-center" id="beer-des"">
                                        							<div class=" col-12" id="ibu-color">
                                                    <p><%= beer.style %> </p>
                                                </div>
                                                <div class="justify-content-center">
                                                    <form method="POST" action="/beer/remove">
                                                            <input type="text" name="beer" value=<%= `${beer.bid}` %> hidden>
                                                       
                                                        <button type="submit" class="btn btn-profile">Unfavorite</button>
                                                       
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <% }) %>
                                    <% } %> 
                                    <!-- Repeat -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <% if(!currentUser.googleId && !currentUser.githubId){ %> 
                    <div id="item-1-4" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-4-tab">
                        <div class="setting-body">
                            <h3>Change Password</h3>
                            <hr>
                            <form action="/profile/password" method="POST">
                            <div class="container">
                                <div class="form-group">
                                    <label for="oldPassword">Old Password</label>
                                    <input type="password" class="form-control" name="oldPassword" required>
                                </div>
                                <div class="form-group">
                                    <label for="newPassword">New Password</label>
                                    <input type="password" class="form-control" name="newPassword" required>
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" name="confirmPassword" required>
                                </div>
                                <button class="btn btn-profile" type="submit">Update Password</button>
                            </form>
                                <a href="#" style = "font-size: small;">Forgot Password?</a>
                            </div>
                            
                        </div>
                    </div>
                <% } %> 
                        
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>