<%- include('partials/header') %>
       
            <div class="result-searchbar">
                <div class="row justify-content-center">
                    <form class="form-inline" method='GET' action="/beer/result">
                        <input class="form-control amber-border" id="searchInput" type="text"
                            placeholder="Search for any beer or brewery" aria-label="Search" name="searchterm">
                        <button type="submit" class="btn btn-primary">Search</button>

                    </form>
                </div>
            </div>

            <div class="container-fluid" id="searchResult">
                <div class="error_M">
                    <%- include("partials/messages") %>
                </div>
                <div class="container">
                    <div class="row product-list dev" id="beerResult">
                        <input class="beerResult__userId" style="display:none" value= '<%- userId %>'/>
                        <%- getSearchResult %>
                    </div>
                </div>
            </div>

            <div class="floating__icon">
                <button class="toTop" onclick="window.scrollTo({top:0,left:0, behavior:'smooth'})">Top</button>
            </div>

<%- include('partials/footer') %>
<script src="/js/error.js"></script>        

